<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://axelor.com/xml/ns/object-views
       http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">
     
     <menuitem title="Menus" name="menu-main" /> 
      
      
      <menuitem title="Company" name="menu-company" parent="menu-main"/>
      
      <menuitem title="Company" name="menu-companys" parent="menu-company" action="action.menu.company" />
        <action-view name="action.menu.company" title="Company" model="com.axelor.gst.db.Company">
          <view type="grid" name="company-grid"/>
          <view type="form" name="company-form"/>
        </action-view>
        
        <menuitem title="Bank Account" name="menu-bankAccount" parent="menu-company" action="action.menu.bankAccount"/>
         <action-view name="action.menu.bankAccount" title="Bank Account" model="com.axelor.gst.db.BankAccount">
          <view type="grid" name="bankAccount-grid"/>
          <view type="form" name="bankAccount-form"/>
        </action-view>
       
       
       
      <menuitem title="Product" name="menu-products" parent="menu-main"/> 
       
     <menuitem title="Product" name="menu-product" parent="menu-products" action="action.menu.products"/>  
          <action-view name="action.menu.products" title="Products" model="com.axelor.gst.db.Product">
          <view type="grid" name="product-grid"/>
          <view type="form" name="product-form"/>
          <view type="cards" name="product-card"/>
        </action-view>
        
       <menuitem title="Products Categories" name="menu-productCategory" parent="menu-products" action="action.menu.productCategory"/>  
          <action-view name="action.menu.productCategory" title="Product Category" model="com.axelor.gst.db.ProductCategory">
          <view type="grid" name="productCategory-grid"/>
          <view type="form" name="productCategory-form"/>
        </action-view> 
        
      <menuitem title="Invoices" name="menu-invoice" parent="menu-main" action="action.menu.invoice"/>  
          <action-view name="action.menu.invoice" title="Invoice" model="com.axelor.gst.db.Invoice">
          <view type="grid" name="invoice-grid"/>
          <view type="form" name="invoice-form"/>
          <view type="kanban" name="kanban-invoice"/>
        </action-view> 
        
       <!-- <menuitem title="InvoiceLines" name="menu-invoiceLine" parent="menu-main" action="action.menu.invoiceLine"/>  
          <action-view name="action.menu.invoiceLine" title="InvoiceLine" model="com.axelor.gst.db.InvoiceLine">
          <view type="grid" name="invoiceLine-grid"/>
          <view type="form" name="invoiceLine-form"/>
        </action-view> -->   
          
       
       
       <menuitem title="Party" name="menu-party" parent="menu-main"/>    
          
     <menuitem title="Party" name="menu-partys" parent="menu-party" action="action.menu.party"/>  
          <action-view name="action.menu.party" title="Party" model="com.axelor.gst.db.Party">
          <view type="grid" name="party-grid"/>
          <view type="form" name="party-form"/>
          <view type="cards" name="party-card"/>
       </action-view>   
       
          <menuitem title="Contact" name="menu-contact" parent="menu-party" action="action.menu.contact"/>
         <action-view name="action.menu.contact" title="Contact" model="com.axelor.gst.db.Contact">
          <view type="grid" name="conatct-grid"/>
          <view type="form" name="contact-form"/>
        </action-view>
       
         <menuitem title="Configurations" name="menu-config" parent="menu-party"/> 
        
         <menuitem title="Address" name="menu-address" parent="menu-config" action="action.menu.address"/>
            <action-view name="action.menu.address" title="Address" model="com.axelor.gst.db.Address">
            <view type="grid" name="address-grid"/>
            <view type="form" name="address-form"/>
        </action-view> 
          
          <menuitem title="City" name="menu-city" parent="menu-config" action="action.menu.city"/>
         <action-view name="action.menu.city" title="City" model="com.axelor.gst.db.City">
          <view type="grid" name="city-grid"/>
          <view type="form" name="city-form"/>
        </action-view>
        
        <menuitem title="State" name="menu-state" parent="menu-config" action="action.menu.state"/>
         <action-view name="action.menu.state" title="State" model="com.axelor.gst.db.State">
          <view type="grid" name="state-grid"/>
          <view type="form" name="state-form"/>
        </action-view>
        
        <menuitem title="Country" name="menu-country" parent="menu-config" action="action.menu.country"/>
         <action-view name="action.menu.country" title="Country" model="com.axelor.gst.db.Country">
          <view type="grid" name="country-grid"/>
          <view type="form" name="country-form"/>
        </action-view>
     
       
       
       <menuitem title="Sequence" name="menu-sequence" parent="menu-company" action="action.menu.sequence"/>  
          <action-view name="action.menu.sequence" title="Sequence" model="com.axelor.gst.db.Sequence">
          <view type="grid" name="sequence-grid"/>
          <view type="form" name="sequence-form"/>
       </action-view>       
        
 </object-views>      