<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://axelor.com/xml/ns/object-views
       http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">
     
     
     <menuitem title="Menus" name="gst-rootgst-root" /> 
      
      <menuitem title="Welcome" name="gst-root-gst-welcome" parent="gst-rootgst-root" action="action.gst.welcome"/>
        <action-view name="action.gst.welcome" title="Welcome">
           <view type="dashboard" name="welcome-dashboards"/>
        </action-view>
      
      <menuitem title="Company" name="gst-root-gst-company" parent="gst-rootgst-root"/>
      
      <menuitem title="Company" name="comapny-root-gst-company" parent="gst-root-gst-company" action="action.gst.company" />
        <action-view name="action.gst.company" title="Company" model="com.axelor.gst.db.Company">
          <view type="grid" name="company-grid"/>
          <view type="form" name="company-form"/>
        </action-view>
        
        <menuitem title="Bank Account" name="gst-root-gst-bank-account" parent="gst-root-gst-company" action="action.gst.company-bank-account"/>
         <action-view name="action.gst.company-bank-account" title="Bank Account" model="com.axelor.gst.db.BankAccount">
          <view type="grid" name="bank-account-grid"/>
          <view type="form" name="bank-account-form"/>
        </action-view>
       
       
       
      <menuitem title="Product" name="gst-root-gst-product" parent="gst-rootgst-root"/> 
       
      <menuitem title="Product" name="gst-product-root-product" parent="gst-root-gst-product" action="action.gst.product"/>  
          <action-view name="action.gst.product" title="Products" model="com.axelor.gst.db.Product">
          <view type="grid" name="product-grid"/>
          <view type="form" name="product-form"/>
          <view type="cards" name="product-card"/>
        </action-view>
        
       <menuitem title="Products Categories" name="gst-root-product-category" parent="gst-root-gst-product" action="action.gst.product.category"/>  
          <action-view name="action.gst.product.category" title="Product Category" model="com.axelor.gst.db.ProductCategory">
          <view type="grid" name="product-category-grid"/>
          <view type="form" name="product-category-form"/>
        </action-view> 
        
       <menuitem title="Invoices" name="gst-root-invoice" parent="gst-rootgst-root"/>  
        
         <menuitem title="Create" name="gst-invoice-root-create-invoice" parent="gst-root-invoice" action="action.gst.invoice.create.invoices"/>  
          <action-view name="action.gst.invoice.create.invoices" title="Create-Invoice" model="com.axelor.gst.db.Invoice">
           <view type="form" name="invoice-form"/>
           <!-- <domain>self.status = 'draft'</domain> -->
          </action-view>
         
           <menuitem title="All Invoices" name="gst-invoice-root-all-invoices" parent="gst-root-invoice" action="action.gst.invoice.all.invoices"/>   
           <action-view name="action.gst.invoice.all.invoices" title="All Invoice" model="com.axelor.gst.db.Invoice">
               <view type="grid" name="invoice-grid"/>
               <view type="form" name="invoice-form"/>
               <view type="kanban" name="kanban-invoice"/>
           </action-view> 
           
         <menuitem title="Draft Invoice" name="gst-invoice-root-draft-invoice" parent="gst-root-invoice" action="action.gst.invoice.draft.invoices"/> 
            <action-view name="action.gst.invoice.draft.invoices" title="Draft Invoice" model="com.axelor.gst.db.Invoice">
               <view type="grid" name="invoice-grid"/>
               <view type="form" name="invoice-form"/>
               <domain>self.status = 'draft'</domain>
           </action-view> 
           
         <menuitem title="Validated Invoice" name="gst-invoice-root-validated-invoice" parent="gst-root-invoice" action="action.gst.invoice.validated.invoices"/> 
             <action-view name="action.gst.invoice.validated.invoices" title="Validated Invoice" model="com.axelor.gst.db.Invoice">
               <view type="grid" name="invoice-grid"/>
               <view type="form" name="invoice-form"/>
               <domain>self.status = 'validated'</domain>  
           </action-view> 
           
           
            <menuitem title="Paid Invoice" name="gst-invoice-root-paid-invoice" parent="gst-root-invoice" action="action.gst.invoice.paid.invoices"/>  
              <action-view name="action.gst.invoice.paid.invoices" title="Paid Invoice" model="com.axelor.gst.db.Invoice">
               <view type="grid" name="invoice-grid"/>
               <view type="form" name="invoice-form"/>
               <domain>self.status = 'paid'</domain>  
           </action-view> 
          
         
         <menuitem title="Cancelled Invoice" name="gst-invoice-root-cancelled-invoice" parent="gst-root-invoice" action="action.gst.invoice.cancelled-invoice"/>  
              <action-view name="action.gst.invoice.cancelled-invoice" title="Cancelled Invoice" model="com.axelor.gst.db.Invoice">
                 <view type="grid" name="invoice-grid"/>
                 <view type="form" name="invoice-form"/>
                 <domain>self.status = 'cancelled'</domain>  
           </action-view> 
           
          
      <menuitem title="Party" name="gst-root-party" parent="gst-rootgst-root"/>    
          
     <menuitem title="Party" name="gst-party-root-party" parent="gst-root-party" action="action.gst.party"/>  
          <action-view name="action.gst.party" title="Party" model="com.axelor.gst.db.Party">
          <view type="grid" name="party-grid"/>
          <view type="form" name="party-form"/>
          <view type="cards" name="party-card"/>
       </action-view>   
       
          <menuitem title="Contact" name="gst-party-root-contact" parent="gst-root-party" action="action.gst.party.contact"/>
         <action-view name="action.gst.party.contact" title="Contact" model="com.axelor.gst.db.Contact">
          <view type="grid" name="contact-grid"/>
          <view type="form" name="contact-form"/>
        </action-view>
       
         <menuitem title="Configurations" name="gst-party-root-config" parent="gst-root-party"/> 
        
         <menuitem title="Address" name="gst-party-config-root-address" parent="gst-party-root-config" action="action.gst.party.cnfig.address"/>
            <action-view name="action.gst.party.cnfig.address" title="Address" model="com.axelor.gst.db.Address">
            <view type="grid" name="address-grid"/>
            <view type="form" name="address-form"/>
        </action-view> 
          
          <menuitem title="City" name="gst-party-config-root-city" parent="gst-party-root-config" action="action.gst.party.cnfig.city"/>
         <action-view name="action.gst.party.cnfig.city" title="City" model="com.axelor.gst.db.City">
          <view type="grid" name="city-grid"/>
          <view type="form" name="city-form"/>
        </action-view>
        
        <menuitem title="State" name="gst-party-config-root-state" parent="gst-party-root-config" action="action.gst.party.cnfig.state"/>
         <action-view name="action.gst.party.cnfig.state" title="State" model="com.axelor.gst.db.State">
          <view type="grid" name="state-grid"/>
          <view type="form" name="state-form"/>
        </action-view>
        
        <menuitem title="Country" name="gst-party-config-root-country" parent="gst-party-root-config" action="action.gst.party.cnfig.country"/>
         <action-view name="action.gst.party.cnfig.country" title="Country" model="com.axelor.gst.db.Country">
          <view type="grid" name="country-grid"/>
          <view type="form" name="country-form"/>
        </action-view>
     
       
       
       <menuitem title="Sequence" name="gst-company-root-sequence" parent="gst-root-gst-company" action="action.gst.sequence"/>  
          <action-view name="action.gst.sequence" title="Sequence" model="com.axelor.gst.db.Sequence">
          <view type="grid" name="sequence-grid"/>
          <view type="form" name="sequence-form"/>
       </action-view>       
        
 </object-views>      